button {
  padding: 1em;
  // border: none;
  border-radius: 5px;
  background-color: #FFD700;
  color: black;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffc107;
  border-color: #ffe188;
}

button:focus {
  outline: none;
  border-color: #ffe188;
}