button {
  padding: 1em;
  // border: none;
  border-radius: 5px;
  background-color: #FFC107;
  color: black;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffc107;
  border-color: #ffe188;
}

button:focus {
  outline: none;
  border-color: #ffe188;
}

.status-0 {
  background-color: #C0C0C0 !important;
}

.status-1 {
  background-color: #000000 !important;
}

.status-2 {
  background-color: #1bdd1b !important;
} 

.status-3 {
  background-color: #FF4500 !important;
}

.status-4 {
  background-color: #FFA500 !important;
}

.status-5 {
  background-color: #1975ff !important;
}

.status-6 {
  background-color: #80dfe2 !important;
}

.status-7 {
  background-color: #FF0000 !important;
}

